/* variables */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.btn_blue {
    background: #3e7bfa;
    color: #fff;
    border-radius: 30px;
    font-weight: 500 !important;
}

.btn_blue:hover {
    background: rgba(232, 27, 27, 0.8);
    ;
    color: #fff;
}

.btn_blue_outline {
    background: transparent;
    border: 1px solid #3e7bfa;
    border-radius: 30px;
    color: #3e7bfa;
}

.btn_blue_outline:hover {
    background: #3e7bfa;
    color: #fff;
    transition: 300ms ease-in-out;
}

.btn_red {
    background: rgba(232, 27, 27, 0.8);
    color: #fff;
    border-radius: 30px;
    font-weight: 500 !important;
}

.btn_red:hover {
    border: 1px solid rgba(232, 27, 27, 0.8);
    ;
    color: rgba(232, 27, 27, 0.8);
    ;
    transition: 300ms ease-in-out;
}

input {
    border: 0.5px solid #3e7bfa !important;
}

input:focus {
    border: 0.5px solid #3e7bfa !important;
}

.form-control:focus {
    box-shadow: none !important;
}

input::placeholder {
    font-size: small;
}

.card {
    background: rgb(255, 255, 255);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .05) !important;
}

.eye-icon {
    cursor: pointer;
    color: #666;
    /* font-size: 20px; */
    transition: color 0.2s;
}

.eye-icon:hover {
    color: #333;
}

/* .active {
    background-color: rgba(62, 123, 250, 0.4) !important;
} */

#toggleVisibility {
    cursor: pointer;
}

/* Variables */

body {
    margin: 0;
    padding: 0;
    background: #fbfef9 !important;
    color: #1C1C28 !important;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navbar */
.navbar {
    width: 100%;
    min-height: 100px;
}

.nav-link {
    font-size: 15px;
    color: #1C1C28 !important;
    font-weight: 500 !important;
}

.nav-link:hover {
    color: #3e7bfa !important;
}

/* Navbar */

/* Account */
.account_form {
    width: 100%;
    min-height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_overview {
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    border: none !important;
}

.list-group-item:hover {
    background-color: rgba(62, 121, 250, 0.4);
    color: #3e7bfa;
    transition: 300ms ease-in-out;
}

/* Account */




.red {
    border: 1px solid #3e7bfa;
}

.blue {
    border: 1px solid red;
}