*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db


/.cursor
/.junie
/memory-bank/
/legacy_static/

.mcp.json

.cursor/
.junie/
.mc/
.mcp.json
.mcp.json
CLAUDE.md
